*.o
*.ko
*.cmd
*.mod.*

*.log
*.trs
*.pyc

*.swp

Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/build-aux
/compile
/config.*
/configure
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
