#!/usr/bin/make -f
version := $(shell dpkg-parsechangelog | sed -n 's/^Version: *\([^-]\+\)/\1/p')

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKEFLAGS += -j$(NUMJOBS)
endif

build: build-indep
	dh_autoreconf -i
	CFLAGS="-Iinclude" dh_auto_configure

build-indep: build-indep-stamp
build-indep-stamp:
	touch $@

clean:
	dh_testdir
	dh_testroot

	dh_auto_clean
	dh_autoreconf_clean
	dh_clean build-indep-stamp debian/kzorp-dkms.dkms

debian/kzorp-dkms.dkms: debian/kzorp-dkms.dkms.in
	sed s/@VERSION@/$(version)/g $< > $@

install-indep: build-indep debian/kzorp-dkms.dkms
	dh_testdir
	dh_testroot
	dh_prep -i
	dh_installdirs -i

	mkdir -p usr/src/kzorp-$(version)

	dh_install -pkzorp-dkms driver/Makefile usr/src/kzorp-$(version)/

	dh_install -pkzorp-dkms driver/*.c usr/src/kzorp-$(version)/
	dh_install -pkzorp-dkms driver/*.h usr/src/kzorp-$(version)/
	dh_dkms -pkzorp-dkms

	dh_auto_install --destdir=debian/python-kzorp -- -C pylib install
	dh_auto_install --destdir=debian/kzorp-utils -- -C scripts install

binary-indep: build-indep install-indep
	dh $@  --with autotools-dev

binary: binary-indep
.PHONY: build build-indep clean install install-indep binary-indep binary
